* {
  margin: 0;
}

.map {
  height: 250px;
  width:100%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  background-color: transparent;
}

.map.visible {
  opacity: 1;
}

.store-finder-input-container{
  background: #65C9CE;
}

.location-input {
  background:white;
  border-radius: 5px;
}
