<ion-card [ngClass]="{'ion-no-padding' : isSlideImage}" >
  <ion-card-content class="ion-no-padding">
    <ion-grid [ngClass]="{'ion-no-padding' : isSlideImage}">
      <ion-row>
        <ion-col >
          <img [ngClass]="{'slide-image' : isSlideImage}" src="{{coupon.imageUrl}}" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-item *ngIf="!showButton" lines="none">
            <ion-label class="ion-text-center">
              <h2>{{coupon.name}}</h2>
              <p style="color:green">{{coupon.shortDescription}}</p>
              <p>Expires: {{coupon.expirationDate | date }}</p>
            </ion-label>
          </ion-item>
          <ion-button *ngIf="showButton" class="ion-padding" expand="block" (click)="openCouponDetailsModal()">Claim</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
