<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="coupons">
      <ion-label>Coupons</ion-label>
      <ion-icon name="pricetags-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="recipes">
      <ion-label>Featured Recipes</ion-label>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
