
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jet Foods</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="background-tertiary ion-padding ion-text-center rounded-lower-border">
    <h2 class="text-light ion-no-margin"> Welcome {{ !user ? 'Guest' : user.firstName }}, you're shopping at <u>{{user.mainStore}}</u></h2>
  </div>
  <ion-grid>
    <ion-row id="featured-coupons-row">
      <ion-col size="12" size="12" size-sm="8" offset-sm="2" class="ion-no-padding">
        <ion-slides pager="true" [options]="slideOptions" class="ion-padding">
          <ion-slide *ngFor="let coupon of lstCoupon" class="ion-padding">
            <app-coupon-card [isSlideImage]="true" [coupon]="coupon"></app-coupon-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row id="store-locator-row">
      <ion-col size="12" size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-item color="tertiary" lines="none">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>Find Your Store</h2>
            </ion-label>
          </ion-item>

          <ion-card-content class="ion-no-padding">
            <app-store-locator [showNearbyStoreList]='false'></app-store-locator>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row id="gas-station-pricing-row">
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-item color="tertiary" lines="none">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>Latest Gas Prices</h2>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <ion-slides pager="true" class="ion-padding">
              <ion-slide class="ion-padding">
                <h1>Latest Pricing Coming Soon</h1>
              </ion-slide>
              <ion-slide class="ion-padding">
                <h1>Stay tuned...</h1>
              </ion-slide>
              <ion-slide class="ion-padding">
                <h1>For More...</h1>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
